//@import '../globals.css';

.custom-date-picker {
  height: var(--input-height);
  width: var(--input-width);

  .SingleDatePicker {
    width: 100%;
  }

  .SingleDatePickerInput {
    height: var(--input-height);
    width: var(--input-width);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  .DateInput {
    width: 100%;
  }

  .DateInput_input {
    height: var(--input-height);
    padding: 0 10px;
    color: var(--text-color);
  }

  .CalendarDay__selected_span, .CalendarDay__selected {
    background: var(--primary-color);
    border: 1px double var(--primary-color);
  }

  .CalendarDay__hovered_span {
    background: var(--primary-color);
    border: 1px double var(--primary-color);
  }
}
