
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  border-radius: 8px;
  background-color: rgba(38, 107, 143, 0.5);
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid rgba(12, 79, 114, 0.8);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);

  .row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;

    label {
      font-weight: bold;
      color: var(--primary-color);
    }

    .MuiTextField-root, .custom-date-picker {
      height: var(--input-height);
      width: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: var(--border-radius);
    }
  }

  .button {
    color: black;
    padding: 10px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 8rem;
    align-self: center;

    &:hover {
      background-color: var(--button-hover-color);
      color: white;
    }

    &:disabled {
      background-color: var(--secondary-color);
      cursor: not-allowed;
    }
  }

  .result {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 1.2rem;
    color: var(--primary-color);
  }
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.modalContent {
  position: relative;
  width: 500px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;

  h2 {
    margin-top: 0;
    font-size: 2rem;
    color: var(--button-hover-color);
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    color: #333;
    margin: 0;

    strong {
      font-weight: bold;
      font-size: 1.35rem;
      color: var(--button-hover-color);
    }
  }

  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333;
    &:hover {
      color: var(--button-hover-color);
      transform: scale(1.1);
    }
  }

  .emailSection {
    margin-top: 20px;
    p {
      font-size: 1rem;
      color: #333;
    }

    .emailInput {
      margin: 10px 0;
    }

    .sendButton {
      background-color: var(--button-hover-color);
      color: white;
      &:hover {
        background-color: var(--button-hover-color);
      }
    }
  }
}