

.pageContainer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  color: var(--text-color);

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  position: relative;
}

.airportLabel {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.startingAirport {
  top: 55%;
  left: 2%;
}

.destinationAirport {
  top: 55%;
  right: 2%;
}

.curvedLine {
  position: absolute;
  top: 5%;
  width: 90%;
  height: 500px;
  border-top: 3px solid #fff;
  border-radius: 100% 100% 0 0;
  z-index: 1;
}

.predictionFormContainer {
  z-index: 3;
}
